/* component/loader */

@value gutter, color-dark from "../shared/settings.css";
@value loader-size: 24px;
@value loader-border-size: 3px;

.base {
  width: loader-size;
  height: loader-size;
  margin: gutter-vertical auto;
  border: loader-border-size solid rgba(0,0,0,0.25);
  border-radius: 50%;
  position: relative;

  @nest &:after {
    content: '';
    position: absolute;
    top: calc(loader-border-size * -1);
    left: calc(loader-border-size * -1);
    width: loader-size;
    height: loader-size;
    border: loader-border-size solid color-dark;
    border-left-color: transparent;
    border-top-color: transparent;
    border-radius: 50%;
    transition: border-color cubic-bezier(.77,0,.175,1) .5s;
    animation: animate-loader .8s linear infinite;
  }

}

@keyframes animate-loader {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
