/* component/map */

.base {
  width: 100%;
  height: 300px;
}

.icon {
  background: url('img/marker-icon.png');
}

.cluster {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: indianred;
}
