/* TYPOGRAPHY */

@value font-family-primary, font-family-secondary, font-size-small, font-size-body, font-size-h4, font-size-h3, font-size-h2, font-size-h1 from './settings.css';

.primary {
  font-family: font-family-primary;
}

.secondary {
  font-family: font-family-secondary;
}

.small {
  font-size: font-size-small;
}

.body {
  font-size: font-size-body;
}

.h4 {
  font-size: font-size-h4;
}

/* TODO - should compose from .secondary */

.h3 {
  font-size: font-size-h3;
  font-family: font-family-secondary;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.h2 {
  font-size: font-size-h2;
}

.h1 {
  font-size: font-size-h1;
}
